<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Crypto</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/crypto" routerLinkActive="mat-accent">Crypto Post</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/list" routerLinkActive="mat-accent">Crypto List</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
